@{
    ViewData["Title"] = "Home Page";
    Layout= "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p style="color:green">@ViewBag.hata</p>
<a href="@Url.Action("deneme","Home")" target="_blank">denemeye git metin</a>
<br>
<a href="@Url.Action("login","Home")">Gİriş yap kardeş</a>

git remote add origin https://github.com/omerkulak/westart.git
git push -u origin master